body > footer nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    color: #ccc;
    font-size: 1rem;
}

  body > footer ul li {
    margin: 0;
    text-decoration: none;
    list-style: none;
    margin-block-end: 2rem;
  }
  
  body > footer a {
    color: green;
    margin-right: 1rem;
    text-decoration: underline;
    text-decoration-color: currentColor;
    transition-property: text-decoration-color;
    transition-duration: 1s;
  }
  
  footer > nav li::after {
    content: '►';
    padding-inline-end: 2rem;
    color: darkblue;
}

footer > nav li:last-child::after {
  content: none;
}

footer > nav li a:hover {
  color: black;
  text-decoration-color: transparent;
  transition-property: scale 1s;
}