body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

body > header h1 {
  font-size: 2rem;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-inline-start: 1rem;
}

body > header > nav {
  font-size: 1rem;
  margin-top: 1rem;
  flex-shrink: 1;
}
body > header > nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

body > header li a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1rem;
  flex-wrap: wrap;
  display: block;
  color: rgb(23, 200, 23);
  font-weight: 700;
  text-decoration: none;
  padding: 0.75rem 0;
}
  
  body > header a:hover {
    color: black;
    font-weight: 700;
  }